.navbar {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.navbar a {
  font-weight: 300;
  color: var(--secondaryTextColor);
  font-size: 0.9rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--mainLinkColor);
}
