.card {
  margin-bottom: 1.5rem;

  & > strong::before {
    content: '💼';
    margin-right: 0.5rem;
  }

  &:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--mainBorderColor);
  }

  p {
    margin-bottom: 1rem;
  }
}

.skills {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li:not(:last-child)::after {
    content: '|';
    margin: 0 0.5rem;
  }

  @media only screen and (max-width: 600px) {
    align-items: flex-start;
    flex-direction: column;

    li:first-child::before {
      content: '-';
      margin-right: 0.5rem;
    }
  }
}

.timeline {
  border-left: 2px solid var(--mainBorderColor);

  @media only screen and (max-width: 375px) {
    border-left: 0;
  }
}

.timelineRow {
  margin: 0 0 1.25rem 1.25rem;
  padding: 0.625rem;

  @media only screen and (max-width: 375px) {
    margin-left: 0;
    padding: 0;
  }
}

.timelineContent > strong {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -39px;
    margin-top: 1.5px;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    background: var(--mainBgColor);
    border: 3px solid var(--mainBorderColor);

    @media only screen and (max-width: 375px) {
      display: none;
    }
  }
}
